.btn{
	display: inline-block;
	text-transform: uppercase;
	border-radius: 20rem;
	padding: 1.5rem 2rem;
	text-decoration: none;
	letter-spacing: .1rem;
	word-spacing: .3rem;
	font-weight: 700;

		&-white{
		background-color: $color-white;
		color: #000;
			&:hover{
				color: $color-white;
				background-color: $color-primary-dark;
				
			}
		}
}
